<div class="card">
  <div class="card-header">{{ name }}</div>
  <ul class="list-group list-group-flush" *ngIf="tasks.length > 0; else noTasks">
    <app-task-list-item *ngFor="let task of tasks" [task]="task" (clicked)="onTaskClick($event)"
                        (deleted)="onItemDeleted($event)" (finished)="onItemFinished($event)"></app-task-list-item>
  </ul>
  <ng-template #noTasks>
    <div class="card-body">
      <p class="card-text text-center text-muted">-- no tasks --</p>
    </div>
  </ng-template>
</div>

<ng-template #modal_content let-modal *ngIf="selectedTask">
  <div class="modal-header">
    <h4 class="modal-title">{{ selectedTask.name }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-task-form [editTask]="selectedTask" [editing]="true" (submitted)="onTaskSubmit($event)"></app-task-form>
  </div>
</ng-template>
