<li class="list-group-item" *ngIf="task">
  <span class="item-body" (click)="onClick()">
    {{ task.id }} | {{ task.name }}
    <span *ngIf="task.finishedOn" class="text-muted">
      - {{ task.finishedOn | date:'medium' }}
    </span>
  </span>
  <div class="btn-group">
    <button *ngIf="!task.finishedOn" class="btn btn-success" (click)="onFinish()"><i class="bi bi-check2-circle"></i></button>
    <button class="btn btn-danger" (click)="onDelete()"><i class="bi bi-trash"></i></button>
  </div>
</li>
